section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.card-container {
  margin: 50px;
  max-width: 300px;
}

.card-p {
  color: rgb(207, 207, 207);
  font-size: smaller;
}
.card-logo {
  height: 92px;
}
